.container {
  display: flex;
  align-items: center;
}

.inputWrapper {
  position: relative;
  flex-grow: 1;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-width: 300px;
  border: 1px solid #ccc;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.suggestionItem {
  padding: 4px;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: #eee;
}
