.loading {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
}

.loading p {
  animation: loading-opacity 1s infinite alternate ease-in-out;
}

@keyframes loading-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
