.resultsList {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.resultItem {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 15px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #ffc107;
  }
}

.resultHeader {
  font-size: 18px;
  margin-bottom: 5px;
}

.resultText {
  color: #777;
}
