.resultsList {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.resultItem {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 15px;
  cursor: pointer;
}

.resultHeader {
  font-size: 18px;
  margin-bottom: 5px;
}

.noResult {
  font-size: 30px;
  text-align: center;
  color: #621335;
}
