.search {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.searchInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--shadow-color);
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 4px;
  outline: none;
  width: 300px;
}

.searchButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-primary-color);
  }
}
